# ignore data/example/... directories
_assets/
examples/
data/

# ignore windows executables
#*.exe

# ignore bin directory
#bin/

# ignore OS specific files
windows*
macos*
linux*

# Godeps and vendor directories
vendor/
Godeps/

# ignore .git/ directory in web app directory of repository
app/.git/

# ignore files that are required by Heroku
Procfile
