/* page-wide styles */
body {
    background-color: #FDFFFC;
    font-size: 16px;
    padding-top: 76px;
}

/**********************/
/* enzyme page styles */
/**********************/
/* search bar and button styles */
#search_button {
}

#search_form {
}

#searchform_container {
    margin-left: 0px!important; /* to overwrite bootstrap css attributes */
}

#searchbar_container {
    padding: 0px 0px 20px 45px;
}

#search_input {
}

/* enzyme table styles */
#enzyme_info_container {
    padding-left: 45px;
}
