{{ define "footer" }}
<footer>
    <hr>
    <div class="row">
        <div class="container-fluid col-sm-1"></div>
        <div class="container-fluid col-sm-10 padded_container">
            <ul id="footer_list">
                <li>
                    <p>Copyright &#169; 2018 <a href="https://github.com/DanielSchuette/cloningPrimer">Daniel Schuette</a></p>
                </li>
                <li class="footer_list_item">
                    <p>Visit our Lab <a href="#">Website</a></p>
                </li>
            </ul>
        </div>
        <div class="container-fluid col-sm-1"></div>
    </div>
</footer>
</html>
{{ end }}
