{{ define "footer" }}
<footer>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="container-fluid col-xs-2"></div>
            <div class="container-fluid col-xs-8 padded_container text-center">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <p>Copyright &#169; 2018 <a href="https://github.com/DanielSchuette/cloningPrimer">Daniel Schuette</a></p>
                    </li>
                    <li class="list-inline-item footer_list_item">
                        <p>Visit our Lab <a href="https://medicine.yale.edu/bbs/people/barbara_ehrlich.profile">Website</a></p>
                    </li>
                    <li class="list-inline-item footer_list_item">
                         <p>Back to <a href="#site_top">top</a></p>
                    </li>
                </ul>
            </div>
            <div class="container-fluid col-xs-2"></div>
        </div>
    </div>
</footer>
</html>
{{ end }}
