{{ define "index" }}
{{ template "header" . }}
<body id="site_top">
    <!-- "Fork me" banner -->
    <div class="fork-me-wrapper">
        <div class="fork-me">
            <a class="fork-me-link" href="https://github.com/DanielSchuette/cloningPrimer">
                <span class="fork-me-text">Fork Me On GitHub</span>
            </a>
        </div>
    </div>
    <!-- page content -->
    {{ $page := "index" }}
    {{ template "navbar" $page }}
    <div class="container-fluid">
        <div class="row row_paragraph">
            <div class="container-fluid col-sm-1"></div>
            <div class="container-fluid col-sm-7">
                 <h3>About</h3>
                 <p class="spaced_p"><em>Cloning Primer</em> is a software tool that facilitates the design of primer pairs for gene cloning. Given a certain nucleotide sequence and a set of parameters (see <a href="#documentation_section">Documentation</a>), it returns forward and reverse primers as well as useful statistics like GC content, the probability of the primer pair to form dimers, and much more.</p>
                 <p>The software is accessible via this web application, but it is recommended to download the command line application (<a href="https://github.com/DanielSchuette/cloningPrimer/tree/master/bin">CLI</a>) to enable offline use. Also, an API (written in <a href="https://golang.org">Go</a>) is available through the <a href="https://github.com/DanielSchuette/cloningPrimer">GitHub repository</a> of this project. <em>Cloning Primer</em> is under active development, so source code, web interface, API, and CLI might change in the future!</p>
                 <p>A working version of <em>Cloning Primer</em> is currently available as a pre-release version v0.0.2. Please review the documentation section of this website for more information about available functionality.</p>
            </div>
            <div class="container-fluid col-sm-1"></div>
            <div class="container-fluid col-sm-3">
                  <h3>Project Status</h3>
                  <p><a href="https://github.com/DanielSchuette/cloningPrimer"><img src="https://img.shields.io/badge/release-v0.0.2-green.svg" alt="Version Badge"></a></p>
                  <p><a href="https://godoc.org/github.com/DanielSchuette/cloningPrimer"><img src="https://godoc.org/github.com/DanielSchuette/cloningPrimer?status.svg" alt="GoDoc"></a></p>
                  <p><a href="/license/"><img src="https://img.shields.io/packagist/l/doctrine/orm.svg" alt="MIT license"></a></p>
                  <p><a href="https://travis-ci.org/DanielSchuette/cloningPrimer"><img src="https://travis-ci.org/DanielSchuette/cloningPrimer.svg?branch=master" alt="Build Status"></a></p>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row row_paragraph">
            <div class="container-fluid col-sm-1"></div>
            <div class="container-fluid col-sm-10">
                 <h3 id="documentation_section">Getting Started</h3>
                 <p class="spaced_p">The following series of examples demonstrates how to use the Go API of <em>Cloning Primer</em>.</p>
                 <p><script src="https://gist.github.com/DanielSchuette/59da5c49f159c4088b43736f2975a94b.js"></script></p>
                 <p class="spaced_p">Functions are provided to parse sequence and restriction enzyme information from a file, too. Two file formats (<em>.re</em> and <em>.seq</em>) are specified for this purpose. More examples to demonstrate this and other functionality of the API are coming with version v0.0.3!</p>
            </div>
            <div class="container-fluid col-sm-1"></div>
        </div>
    </div>
    <div class="row container_last_on_page"></div>
</body>
{{ template "footer" . }}
{{ end }}
