{{ define "index" }}
{{ template "header" . }}
<body id="site_top">
    <div class="container-fluid" id="navbar">
        <!-- Header goes here --> 
    </div>
    <div class="container-fluid" id="searchbar">
        <form action="search" method="post">
            <p>Search: </p>
            <input type="text" name="search_text" id="search_text" value="search_text" />
            <input type="submit" name="search_submit" id="search_submit" value="Submit" />
        </form>
    </div>
    <div class="container-fluid" id="enzyme_info_container">
        <table summary="Information About Restriction Enzymes" class="table">
            <thead class="thead-dark">
                <tr>
                    <th>Name</th>
                    <th>Recognition Sequence</th>
                </tr>
            </thead>
            <tbody>
            {{ range . }}
                <tr>
                    <td>{{ .Name }}</td>
                    <td>{{ .RecognitionSite }}</td>
                </tr>
            {{ end }}
            </tbody>
        </table>
    </div>
</body>
{{ template "footer" . }}
{{ end }}
