{{ define "navbar" }}
<div id="header">
    <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="https://github.com/DanielSchuette/cloningPrimer">Cloning Primer v0.01</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/index/">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/designPage/">Design Primers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/enzymesPage/">Enzymes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/links/">Links</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/license/">License</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contribute/">Contribute</a>
          </li>
        </ul>
      </div>
    </nav>
</div>
{{ end }}
